{% extends "intake/base.html" %} {% block content %}

<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Last Day</th>
                    <th>Last Week</th>
            </thead>
            <tbody>
            {% for sensor in sensors %}
                <tr>
                    <td><a href="{% url 'sensor-detail' sensor_id=sensor.id %}">{{ sensor.name }}</a></td>
                    <td>{{ sensor.url_string }}</td>
                    <td>{{ sensor.generated_day }}</td>
                    <td>{{ sensor.generated_week  }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}