{% extends "intake/base.html" %} {% block content %}

<div class="row">
    <div class="col-12">
        <h4>Overview</h4>
        <p>There are <strong>{{ sensor_count }}</strong> {% if sensor_count != 1 %}sensors{% else %}sensor{% endif %} at <strong>{{ site_count }}</strong>            {% if site_count != 1 %}sites{% else %}site{% endif %}.</p>
        <p>There have been a total of <strong>{{ last_day }}</strong> kWh generated in the last day, <strong>{{ last_month }}</strong>            in the last month, and <strong>{{ last_year }}</strong> in the last year.</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12">
        <h4>Sites</h4>
    </div>
    <table class="table table-striped">
        {% for site in sites %}

        <tr>
            <td><a href="{% url 'site-detail' site_id=site.id %}">{{ site.name }}</a></td>
            <td>{{ site.location }}</td>
            <td>{{ site.sensor_count }}</td>
            <td>{{ site.description }}</td>
        </tr>
        
        {% endfor %}
    </table>
</div>

{% endblock %}